/* ./src/index.css */
@import '../node_modules/tailwindcss/dist/base.css';
@import '../node_modules/tailwindcss/dist/components.css';
@import '../node_modules/tailwindcss/dist/utilities.css';
@import '~antd/dist/antd.css';

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sideWidth {
  width: 2.75rem !important;
  /* transition-delay: 1s; */
  transition-timing-function: ease;
}
/* .sideWidth:hover {
  width: 3rem !important;
} */
.screenHeight{
  height: 80vh !important;
}
.slide.current {
  left: 0;
  height: 80vh;
  overflow-y: scroll;
  background-color: rgba(122, 121, 121, 0.288);
}
.portFolioHeight{
  height: 70vh !important;
}

@media only screen and (max-width: 600px) {
  .screenHeight{
    height: 92vh !important;
    overflow-y: scroll !important;
  }
  .portFolioHeight{
    height: 92vh !important;
  }
  .slide.current {
    left: 0;
    height: 100vh !important;
    overflow-y: scroll;
    background-color: rgba(122, 121, 121, 0.288);
  }

  .previousButton {
    display: hidden !important;
    position: absolute;
    top: 50%;
    transform: translateX(90%) !important;
    z-index: 10;
    /* background: url(http://svgshare.com/i/41_.svg) no-repeat center center / 16px; */
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    cursor: pointer;
  }
}